html, body {margin:0;}

.image {display: inline-block;
    vertical-align: top;
    height:100vh;
    margin-right:50px}

#title {margin-top:0;
    margin-bottom:0;}

.head_text {text-align: center;}

#credit {margin-top: 0}

#hline {width: 30%;
    border-color: #E2C681}

.main {display: inline-block;
width: 55%}

.ingredients {margin:0}

h1, h3, h4 {font-family: 'Space Mono', monospace;
    color:black}

h3, ol, ul, table {margin-top: 0;
    margin-bottom: 10px}

p, ul, ol, table{color:#495867;
    font-family: 'Space Mono', monospace;}


a, a:active {text-decoration: none;
    color: inherit}

a:hover {color: #dda57b}
