html, body {background-color: #white;
    margin: 0;
    padding: 0}

p {color: #495867;
    }

.head-container {margin: 0;
    width: 100vw;
    text-align: center;}


.centered {position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%)}

h1 {font-family: 'Bebas Neue', cursive;
    font-size: 10em;
    color: #525353;
    }

.main {width:1200px;
    margin: auto;
    font-family: 'Space Mono', monospace;
    }   

.h2 {font-family: 'Sora', sans-serif;}