body {background-color: #white;
    margin: 0;
    padding: 0}

.image {
    object-fit: cover;
    height: 100vh;
    width: 100%;
}

.container {position:relative}


.centered {position: absolute;
    z-index:999;
    top:20%;
    left:0;
    right;0
    margin:0 auto;
    text-align:center;
    width:100%}

h1 {font-family: 'Bebas Neue', cursive;
    font-size: 10em;
    color: #2A2A2A;
    }

.main {
    width:100%;
    height:100vh}

.text {width:70vw;
    padding-top:8%;
    margin:auto;
    font-family: 'Space Mono', monospace;
    }   

.h2 {font-family: 'Sora', sans-serif;
    color:black}

.main_text {color:#495867;}