body {background-color: }

p {color: #495867}

h1 {text-align: center; 
    font-family: 'Sora', sans-serif;
    font-size: 6em;
    color: #577399;
    border-top: 2px solid #BDD5EA;
    border-bottom: 2px solid #BDD5EA;
    width: 1000px;
    margin-top:50px;
    margin-left:auto;
    margin-right:auto;
    }